<template>
    <div class="container">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Create Shift
        </button>

    <!-- Calendar -->
    <FullCalendar id="calendar" 
        :plugins="calendarPlugins" 
        :events="events" 
        :defaultView="defaultView" 
        :header="header"
        :editable="true"
        :droppable="true"
        @dateClick="handleDateClick"
        @eventClick="handleEventClick"/>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>
    </div>


</template>


<script>
    import FullCalendar from "@fullcalendar/vue";
    import dayGridPlugin from "@fullcalendar/daygrid";
    import timeGridPlugin from "@fullcalendar/timegrid";
    import listPlugin from "@fullcalendar/list";
    import interactionPlugin from "@fullcalendar/interaction";
    import bootstrapPlugin from "@fullcalendar/bootstrap";

    export default {
        components: {
            FullCalendar
        },
        data() {
            return {
                calendarPlugins: [dayGridPlugin, listPlugin, timeGridPlugin, interactionPlugin, bootstrapPlugin],
                events: [],
                defaultView: "dayGridMonth",
                header: {
                    left: 'prev,next, today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,list'
                },
                
            }
        },
        methods: {
            handleDateClick(arg) {
                if (confirm('Would you like to add an event to ' + arg.dateStr + ' ?')) {
                    this.events.push({ // add new event data
                    title: 'New Event',
                    start: arg.date,
                    allDay: arg.allDay
                    })
                    // console.log(arg)
                }
            },
            handleEventClick(arg) {
                if (confirm('Would you like to update the event to ' + arg.dateStr + ' ?')) {
                    // this.events.push()

                    // arg.event = { // add new event data
                    // title: 'Update Event',
                    // start: arg.date,
                    // allDay: arg.allDay
                    // }
                    console.log(arg)
                }
            }
        }
    }
</script>

<style scoped>
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';
@import '~@fullcalendar/bootstrap/main.css';
</style>