html,body {
    background-color: #fff;
    color: #636b6f;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 100;
    /* height: 100vh; */
    margin:0;
}

.content {
    margin: 0;
}

.title {
    font-size: 84px;
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-primary {
color: #fff;
background-color: #007bff;
border-color: #007bff;
}
.m-b-md {
    margin-bottom: 30px;
}

.row {
    width: 100%;
    margin:0;
}

.create-button{
    text-align: center;
    display:block;
}
.company-form {
    border: 1px grey solid;
    border-radius: 20px;
    padding: 3rem;
    width:50%;
    margin:auto;
    margin-bottom: 2rem;
}
input{
    width:100%;
}
label{
    text-align:left;
    width:100%;
}

.company-list {
    display: block;
    margin: auto;
    width:50%;
}

.company-list > h2 {
    text-align: center;
}

.company {
    border: 1px solid grey;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 3rem;
    list-style: none;
    padding: 2rem;
    position: relative;
}

.company li {
    font-size: 1rem;
}

.company-buttons {
    position: absolute;
    bottom: 20px;
}

.company > h3 {
    margin: 1rem;
}

.company > li {
    margin: 1rem;
}

.delete-form{
    display:inline;
}
.company-list >h2{
    margin:2rem;
}
#session-msg{
    z-index:10;
    text-align: center;
}
#main-footer{
    position: relative;
}
.alert-danger{
    position: relative;
    width:33%;
    left:33vw;
}
.required-field{
    color:red;
}
.manage-filters{
    border-top: 1px solid lightgrey;
    padding: 1rem;
}
/* mobile */
@media only screen and (max-width: 800px) {
    .create-button {
      width:100%;
    }
    .company-list >h2{
        width:100%;
    }
    .company-list{
        width:100%;
    }
    .company{
        width:100%;
    }
    .company-form{
        width:100%;
    }
    .alert-danger{
        width:100%;
        left:0;
    }
  }

  
