  #flash-message {
    position:fixed;
    z-index:10;
    top:150px;
    left:50%;
    transform: translate(-50%, -50%);
    animation: flash-message 10s forwards;
    animation-duration: 1s, 300ms;
    animation-delay: 2s, 3s;
    animation-fill-mode: both, both;
  }

  @keyframes flash-message {
      0%   {opacity: 1;}
      100% {opacity: 0; display:none;}
  }

  #error-flash-message {
    position:fixed;
    z-index:10;
    top:80px;
    left:50%;
    transform: translate(-50%, -50%);
    animation: flash-message 10s forwards;
    animation-duration: 1s, 300ms;
    animation-delay: 2s, 3s;
    animation-fill-mode: both, both;
  }

  #restricted-img {
    max-width:50%;
  } 

  #top-nav-logo{
    z-index:1000;
    padding-left:2rem;
  }

  @media(min-width: 768px){
    .backend-content{
        padding-left:230px;
    }
    .sidebar-sticky{
        min-width: 200px;
    }
    #backend-topbar-brand{
        min-width: 200px;
    }
  }

  @media(max-width: 767px){
    .backend-content{
        padding-left:80px;
    }
    .navbar-brand{
        background-color:transparent!important;
    }
  }
  
//   Tooltip

/* Tooltip container */
.sidebartip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .sidebartip .sidebartip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 100%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .sidebartip .sidebartip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .sidebartip:hover .sidebartip-text {
    visibility: visible;
    opacity: 1;
  }

  // Action Button
  .btn-action{
    font-size: 11px;
    width:100%;
    background:#669;
    border-color:#669;
  }

  .btn-action:hover{
    width:100%;
    background:white;
    color:black;
    border-color:#669;
  }

  @media print
  {    
      .no-print, .no-print *
      {
          display: none !important;
      }
  }

  span.nav-indent{
    display:inline-block;
    text-indent: 1em;
  }

  .table td{
    vertical-align:middle!important;
  }

  #loader-icon {
    margin: 0 auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #loader-msg{
    font-size: 30px;
    margin: 0 auto;
  }
  #loader{
      box-sizing: border-box; 
      position: fixed; 
      display: flex; 
      flex-flow: column nowrap; 
      align-items: center; 
      justify-content: center; 
      background: rgba(255, 255, 255, 0.8); 
      top: 0px; 
      left: 0px; 
      width: 100%; 
      height: 100%; 
      z-index: 2147483647; 
      opacity: 1;
  }
  
  .product-image {
    cursor: pointer;
    transition: 0.3s;
  }
  
  .product-image:hover {
    opacity: 0.7;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .cursor-default {
    cursor: default;
  }

  //Feather Icons Style
  .feather-alert-circle.nameIcons { 
    display: inline-block; 
    stroke: red;
    height: 20px;
    width: 20px;
}

.feather-layers.nameIcons {
    display: inline-block;
    stroke: #7fbfff;
    height: 20px;
    width: 20px;
}

.feather-check.nameIcons {
    display: inline-block;
    stroke: green;
    height: 20px;
    width: 20px;
}

.feather-x.nameIcons{
    display: inline-block;
    stroke: red;
    height: 20px;
    width: 20px;
}

.order-status {
  padding:5px;
  border-radius:15px;
  color:white;
}

.employee-dropdown {
  font-size: 14px;
}

.lightTable a, .searchID a, .categoryCol a {
  color: #666;
}

.lightTable a:hover, .searchID a:hover, .categoryCol a:hover{
  color: #3399ff;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.5);
}

#backend-header {
  border-bottom: solid 1px lightgrey;
  position: fixed;
  left:0;
  right:0;
  top:0;
  width:100%;
  z-index: 1000;
}

#content {
  padding-bottom: 100px;
}

#main-footer {
  position: absolute;
  height: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #f8f9fa;
  color: rgba(0,0,0,.5);
  text-align: center;
  border-top: solid 1px lightgrey;
  z-index:1000;
}

html, body {
  height: 100%;
}

#online-orders, #store-orders, #mobile-orders {
  max-height: 40vh;
  overflow: auto;
}

/*  
*
*     TOOLTIPS
*
*/

.qty-tooltip {
    position: relative;
    display: inline-block;
}

.qty-tooltip table{
    all:unset;
}

.qty-tooltip .qty-tooltiptext {
    visibility: hidden;
    background-color: white;
    border-color:lightgrey;
    border-style:solid;
    border-width:1px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    top: -70px;
    left: 200%;
}

.qty-tooltip .qty-tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.qty-tooltip:hover .qty-tooltiptext {
    visibility: visible;
}

.price-tooltip {
    position: relative;
    display: inline-block;
    border-bottom:dotted 1px;
}

.price-tooltip table{
    all:unset;
}

.price-tooltip .price-tooltiptext {
    visibility: hidden;
    background-color: white;
    border-color:lightgrey;
    border-style:solid;
    border-width:1px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 125%;
}

.price-tooltip .price-tooltiptext ::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.price-tooltip:hover .price-tooltiptext  {
    visibility: visible;
}

.pagination {
  flex-wrap: wrap;
}

.highlight-col {
  background-color: pink;
}

.smallNote {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  text-align: center;
}

.mediumNote {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-align: center;
}

.largeNote{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
}

.smallIcon {
    font-size: 16px;
}

.signature-img {
  max-width:100%;
}

@media (min-width: 576px) and (max-width: 991px){
  .modal-xl {
    max-width: 700px;
  }
}

// custom schedule css
.fc-day-grid-event .fc-content .fc-time,
.fc-day-grid-event .fc-content .fc-title{ 
  display: block; 
}