container, a {
    text-decoration: none;
    color: rgb(200, 200, 200);
}

a:hover {
    text-decoration: none;
    color: rgb(235, 235, 235);
}

.active-cyan-2 input[type=term]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=term] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
}